*{box-sizing:border-box;}

html{
    height:100%;
    padding:-10px;
}
body{
    margin:0px;
    font-family: 'Special Elite', cursive;
    height:100%;
}

#Horizontal{
  text-align:center;
  background-image:url(background2.jpg);
  background-size:300%;
  background-repeat:repeat;
  min-height:100%;
  min-width:50%;
    height:100%;
    width:50%;
    float:right;
    border:5px solid black;
}
#Vertical{
  text-align:center;
  background-image:url(background.png);
  background-size:300%;
  background-repeat:repeat;
  min-height:100%;
  min-width:50%;
  height:100%;
  width:50%;
  float:left;
  border:5px solid black;
}

a{
    text-decoration:none;
    color:black;
}
.horiTXT{
        background-color:#5372D8;
        padding:1em;
        margin-top:7em;
        display:inline-block;
        border:10px solid black;
        
    
}

.vertTXT{
    background-color:#D46D6A;
    padding:1em;
    margin-top:7em;
    display:inline-block;
    border:10px solid black;
}
